.body {
    width: 940px;
    align-items: center;
}

.leftNav {
    position: absolute;
    left: 3%;
    top: 125px;

    text-align: left;
    color: black;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.card {
    border-radius: 12px !important;
}

.searchCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 28px;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

    border-radius: 12px;
    border: none !important;

    margin-top: 25px;
    margin-bottom: 12px;

    background: #FFFFFF;
}

#searchBar {
    width: 870px;
    border: none;
    box-shadow: none;
}

.filterCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 28px;

    position: static;
    height: 164px;
    left: 0%;
    right: 0%;
    top: 40px;

    font-family: 'Jost', sans-serif;

    background: #FFFFFF;
}

.Nav-Button {
    margin-bottom: 12px;
  }

.iconSubText {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.filterButton {
    margin-top: 20px;
    border-color: #30C692;
    background-color: white;
    color: #30C692;
    border: 1px solid;
    border-radius: 30px;
    padding: 5px 15px;
    margin: 0px 8px;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.mapCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 28px;

    height: 365px;
    margin-bottom: 12px;

    border: none !important;
    
    background: #FFFFFF;
}

#mapPageCard {
    height: 500px;
    padding-left: 37px;
    margin-top: 22px;
}

#mapPageSearch {
    padding: 6px 6px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 50px;
}

.searchResultCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px  28px 0px 28px;

    margin-bottom: 12px;

    overflow-x: hidden;

    border: none !important;

    background: #FFFFFF;
}

.emptySearchResultCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px 28px;

    border: none !important;

    margin-bottom: 12px;

    background: #FFFFFF;
}

.noBusinessesText {
    width: 800px;
    text-align: left;
    margin-left: 10px;

    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    font-family: 'Jost', sans-serif;
}

#map {
    position: absolute;
    width: 870px;
    height: 295px;
    background-size: 100%;
}

#mapPage {
    position: absolute;
    width: 894px;
    height: 340px;
    background-size: 100%;
}

#marker {
    cursor: pointer;
    display: block;
    width: 35px;
    height: 49px;
    background-size: 100%;
}

#userMarker {
    background-image: url('../../images/vector/navigation-2\(1\).svg');
    background-size: 100%;
    width: 30px;
    height:  30px;
}

#markerText {
    color: black;
    font-family: 'Jost', sans-serif;
    position: relative;
    text-align: left;
    width: 200px;
    left: 37px;
    top: 10px;
}

.businessCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 28px;
    margin-bottom: 21px;

    overflow-x: hidden;

    border: none !important;

    background: #FFFFFF;
    border-radius: 12px;
}

/* CARD STYLES */
.main-card {
    border: none !important;
    width: 209px;
    height: 144px;
    background-size: cover;
}

.businessCategory {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: bold;
}

.business-title {
    margin-top: 5px;
    text-align: left;
    position: absolute;
    bottom: 0;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
}

.mileage {
    font-size: 16px;
    text-align: left;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    color: white;
}

.mileageImg {
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}


.modalCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px;

    margin-top: 15px;
    margin-bottom: 120px;

    font-family: 'Jost', sans-serif;
    
    /* position: static;
    height: 900px;
    left: 0%;
    right: 0%;
    top: 0px; */
    
    background: #FFFFFF;
    border-radius: 12px;
}

.backText {
    float: right;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

.backButton {
    float: left;
    margin-top: 7px;
    margin-right: 11px;
}

/* SLIDER STYLES */
.prevSlide {
    width: 21px;
    height: 21px;
    cursor: pointer;
    display: inline-block;
}
.nextSlide {
    width: 21px;
    height: 21px;
    cursor: pointer;
    margin-left: 10px;
    display: inline-block;
}

.slider-wrapper{
    display: flex;
    margin-bottom: 30px;
}

.titles {
    text-align: left;
    margin-bottom: 10px;
    color: black;
}

.titles h3, h6 {
    margin-bottom: 0;
    margin-left: .55rem;
}

.titles h6 {
    font-weight: 400;
}

.topImage {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.modal-title{
    margin-top: 15px;
    height: 30px;
    font-weight: bold;
}

.modal-text {
    padding: 2px 0px;
}

.modal-text a:link {
    text-decoration: underline;
}

.modalMainBody {
    margin-bottom: 10px;
}


@media (max-width:1300px){
    .leftNav {
        left: 0.5%;
        font-size: 15px;
    }
}

@media (max-width:990px){
    .body {
        width: 715px;
    }
    #searchBar {
        width: 645px;
    }
    #map, #mapPage {
        width: 650px;
    }
    .businessCategoryRow {
        margin-right: 0 !important;
    }
    .noBusinessesText {
        width: 660px;
        font-size: 24px;
    }
    .businessCategory {
        font-size: 24px;
    }
}

@media (max-width:750px){
    .body {
        width: 500px;
    }
    #searchBar {
        width: 430px;
    }
    #map, #mapPage {
        width: 435px;
    }
    .prevSlide {
        margin-right: 0px;
        margin-left: -15px;
    }
    .noBusinessesText {
        width: 445px;
        font-size: 20px;
    }
    .businessCategory {
        font-size: 20px;
    }
}

@media (max-width:575px){
    .body {
        width: 450px;
    }
    #searchBar {
        width: 380px;
    }
    .mapCard {
        height: 550px;
    }
    #map {
        width: 390px;
        height: 480px;
    }
    #mapPageCard {
        height: 650px;
    }
    #mapPage {
        width: 410px;
        height: 490px;
    }
    .noBusinessesText {
        width: 365px;
    }
    .prevSlide {
        margin-right: 0px;
        margin-left: -50px;
    }
}

@media (max-width: 480px){
    .body {
        width: 370px;
    }
    #searchBar {
        width: 300px;
    }
    .mapCard {
        height: 480px;
    }
    #map {
        width: 315px;
        height: 415px;
    }
    #mapPage {
        width: 325px;
        height: 490px;
    }
    .noBusinessesText {
        width: 265px;
    }
    .prevSlide {
        margin-right: 0px;
        margin-left: -140px;
    }
}

@media (max-width: 400px){
    .body {
        width: 300px;
    }
    #searchBar {
        width: 230px;
        font-size: 14px;
    }
    .mapCard {
        height: 400px;
    }
    #map {
        width: 250px;
        height: 335px;
    }
    #mapPage {
        width: 260px;
        height: 490px;
    }
    .noBusinessesText {
        width: 265px;
        font-size: 16px;
    }
    .businessCategory {
        font-size: 16px;
    }
    .prevSlide {
        margin-right: 0px;
        margin-left: -200px;
    }
}