.body {
    width: 940px;
    display: 'flex';
    align-items: center;
}

.leftNav {
    position: absolute;
    left: 3%;
    top: 125px;

    text-align: left;
    color: black;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

@media (max-width:1300px){
    .leftNav {
        left: 0.5%;
        font-size: 15px;
    }
}

.searchCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 28px;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

    position: static;
    height: 88px;
    left: 0%;
    right: 0%;
    top: 28px;

    background: #FFFFFF;
}

.filterCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 28px;

    position: static;
    height: 164px;
    left: 0%;
    right: 0%;
    top: 40px;

    font-family: 'Jost', sans-serif;

    background: #FFFFFF;
}

.Nav-Button {
    margin-bottom: 12px;
  }

.iconSubText {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.filterButton {
    margin-top: 20px;
    border-color: #30C692;
    background-color: white;
    color: #30C692;
    border: 1px solid;
    border-radius: 30px;
    padding: 5px 15px;
    margin: 0px 8px;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.mapCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 28px;

    position: static;
    height: 339px;
    left: 0%;
    right: 0%;
    top: 55px;

    background: #FFFFFF;
}

.searchResultCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 28px;

    position: static;
    height: 250px;
    left: 0%;
    right: 0%;
    top: 40px;

    background: #FFFFFF;
}

.mapContainer {
    width: 894px;
    height: 295px
}

#markerText {
    color: black;
    font-family: 'Jost', sans-serif;
    position: relative;
    left: 40px;
    top: 30px;
}

#markerImg {
    background-size: cover;
    width: 35px;
    height: 50px;
}

.businessCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 28px;
    margin-bottom: 100px;

    position: static;
    left: 0%;
    right: 0%;
    top: 70px;

    background: #FFFFFF;
    border-radius: 12px;
}

/* CARD STYLES */
.main-card {
    width: 209px;
    height: 144px;
    background-size: cover;
}

.businessCategory {
    width: 800px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: bold;
}

.business-title {
    font-size: 12px;
    position: absolute;
    left: 5%;
    right: 60%;
    top: 60%;
    bottom: 20%;
    width: 75%;
    text-align: left;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
}


.modalCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px;

    margin-top: 15px;
    margin-bottom: 120px;

    font-family: 'Jost', sans-serif;
    
    /* position: static;
    height: 900px;
    left: 0%;
    right: 0%;
    top: 0px; */
    
    background: #FFFFFF;
    border-radius: 12px;
}

.backText {
    float: right;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

.backButton {
    float: left;
    margin-top: 7px;
    margin-right: 10px;
}

/* SLIDER STYLES */
.prevSlide {
    width: 21px;
    height: 21px;
    cursor: pointer;
    transition: .25s;
    margin-left: 70px;
}
.nextSlide {
    width: 21px;
    height: 21px;
    cursor: pointer;
    transition: .25s;
    margin-left: -25px;
}

.slider-wrapper{
    transition: .25s;
    display: flex;
}

.titles {
    text-align: left;
    margin-bottom: 10px;
    color: black;
}

.titles h3, h6 {
    margin-bottom: 0;
    margin-left: .55rem;
}

.titles h6 {
    font-weight: 400;
}

.wrap {
    margin: .5rem 0;
}

.bottomImage {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.modal-title{
    margin-top: 15px;
    height: 30px;
    font-weight: bold;
}

.modal-text {
    padding: 2px 0px;
}

.modal-text a:link {
    text-decoration: underline;
}

.modalMainBody {
    margin-bottom: 10px;
}