.App {
  text-align: center;
}

.App-header {
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Nav-Text {
  color: white;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.Nav-Button-Text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Logo {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
  font-size: 250%;
  margin-bottom: -8%;
}

.activeNav {
  color: #30C692
}

#navbar {
  text-align: left;
  padding: 0px calc((100% - 940px)/2);
  background-color: #30C692;
}

@media (max-width:990px) {
  #navbar {
    padding: 0px calc((100% - 715px)/2);
  }
}

@media (max-width:750px){
  #navbar {
    padding: 0px calc((100% - 500px)/2);
  }
}

@media (max-width:575px){
  #navbar {
    padding: 0px calc((100% - 450px)/2);
  }
}

@media (max-width: 480px){
  #navbar {
    padding: 0px calc((100% - 370px)/2);
  }
}

@media (max-width: 400px){
  #navbar {
    padding: 0px calc((100% - 300px)/2);
  }
}